@import "tailwindcss";

@theme {
  --color-accent: oklch(42.4% 0.199 265.638);
}

@layer utilities {
  .center-x {
    @apply left-1/2 -translate-x-1/2;
  }

  .glass {
    @apply bg-blue-100/50 backdrop-blur-2xl border-blue-300/50 border-2
  }
}

/* WP renderer */
@layer utilities {

  /*Inline foreground colors*/
  .has-black-color {
    @apply text-[#000000];
  }

  .has-cyan-bluish-gray-color {
    @apply text-[#abb8c3];
  }

  .has-white-color {
    @apply text-[#ffffff];
  }

  .has-pale-pink-color {
    @apply text-[#f78da7];
  }

  .has-vivid-red-color {
    @apply text-[#cf2e2e];
  }

  .has-luminous-vivid-orange-color {
    @apply text-[#ff6900];
  }

  .has-luminous-vivid-amber-color {
    @apply text-[#fcb900];
  }

  .has-light-green-cyan-color {
    @apply text-[#7bdcb5];
  }

  .has-vivid-green-cyan-color {
    @apply text-[#00d084];
  }

  .has-pale-cyan-blue-color {
    @apply text-[#8ed1fc];
  }

  .has-vivid-cyan-blue-color {
    @apply text-[#0693e3];
  }

  .has-vivid-purple-color {
    @apply text-[#9b51e0];
  }


  /*background colors*/
  .has-black-background-color {
    background-color: #000000;
  }

  .has-cyan-bluish-gray-background-color {
    background-color: #abb8c3;
  }

  .has-white-background-color {
    background-color: #ffffff;
  }

  .has-pale-pink-background-color {
    background-color: #f78da7;
  }

  .has-vivid-red-background-color {
    background-color: #cf2e2e;
  }

  .has-luminous-vivid-orange-background-color {
    background-color: #ff6900;
  }

  .has-luminous-vivid-amber-background-color {
    background-color: #fcb900;
  }

  .has-light-green-cyan-background-color {
    background-color: #7bdcb5;
  }

  .has-vivid-green-cyan-background-color {
    background-color: #00d084;
  }

  .has-pale-cyan-blue-background-color {
    background-color: #8ed1fc;
  }

  .has-vivid-cyan-blue-background-color {
    background-color: #0693e3;
  }

  .has-vivid-purple-background-color {
    background-color: #9b51e0;
  }
}

h1 {
  @apply text-blue-950 text-5xl font-bold
}

h2 {
  @apply text-blue-950 text-4xl font-bold
}

h3 {
  @apply text-blue-950 text-3xl font-bold
}

h4 {
  @apply text-blue-950 text-2xl font-bold
}

h5 {
  @apply text-blue-950 text-xl font-bold
}


/*foreground colors (p)*/
p.has-black-color {
  @apply text-[#000000]
}

p.has-cyan-bluish-gray-color {
  @apply text-[#abb8c3];
}

p.has-white-color {
  @apply text-[#ffffff]
}

p.has-pale-pink-color {
  @apply text-[#f78da7]
}

p.has-vivid-red-color {
  @apply text-[#cf2e2e]
}

p.has-luminous-vivid-orange-color {
  @apply text-[#ff6900]
}

p.has-luminous-vivid-amber-color {
  @apply text-[#fcb900]
}

p.has-light-green-cyan-color {
  @apply text-[#7bdcb5]
}

p.has-vivid-green-cyan-color {
  @apply text-[#00d084]
}

p.has-pale-cyan-blue-color {
  @apply text-[#8ed1fc]
}

p.has-vivid-cyan-blue-color {
  @apply text-[#0693e3]
}

p.has-vivid-purple-color {
  @apply text-[#9b51e0]
}

/*background colors (p)*/
p.has-black-background-color {
  @apply bg-[#000000]
}

p.has-cyan-bluish-gray-background-color {
  @apply bg-[#abb8c3];
}

p.has-white-background-color {
  @apply bg-[#ffffff]
}

p.has-pale-pink-background-color {
  @apply bg-[#f78da7]
}

p.has-vivid-red-background-color {
  @apply bg-[#cf2e2e]
}

p.has-luminous-vivid-orange-background-color {
  @apply bg-[#ff6900]
}

p.has-luminous-vivid-amber-background-color {
  @apply bg-[#fcb900]
}

p.has-light-green-cyan-background-color {
  @apply bg-[#7bdcb5]
}

p.has-vivid-green-cyan-background-color {
  @apply bg-[#00d084]
}

p.has-pale-cyan-blue-background-color {
  @apply bg-[#8ed1fc]
}

p.has-vivid-cyan-blue-background-color {
  @apply bg-[#0693e3]
}

p.has-vivid-purple-background-color {
  @apply bg-[#9b51e0]
}


/*font sizes*/
.has-small-font-size {
  font-size: 13px;
}

.has-medium-font-size {
  font-size: 20px;
}

.has-large-font-size {
  font-size: 36px;
}

.has-x-large-font-size {
  font-size: 42px;
}

/*drop cap*/
.has-drop-cap::first-letter {
  font-size: 6rem;
}

/*Lists*/
ul {
  @apply list-disc
}

ol {
  @apply list-decimal
}

/*Quotes*/
figure.wp-block-pullquote {
  @apply p-4 my-4 border-s-8 bg-blue-100/50 border-blue-300/50 border-2 rounded-3xl border-blue-300
}

/*Tables*/
.wp-block-table {
  @apply max-w-4xl mt-8;
}

.wp-block-table .has-fixed-layout {
  @apply table-fixed;
}

.wp-block-table td {
  @apply px-6 py-2 text-sm font-medium text-gray-900 first:font-semibold first:text-gray-700;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(even) {
  @apply bg-gray-100 hover:bg-gray-200;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  @apply bg-white hover:bg-gray-50;
}

figure.wp-block-table.is-style-stripes tr {
  @apply even:bg-blue-100 odd:bg-transparent;
}

figure.wp-block-table {
  @apply border-blue-300/50 border-2 w-fit rounded-3xl overflow-hidden;
}

/*Captions*/
.wp-element-caption {
  @apply mb-8;
}

/*Text Align*/
.has-text-align-left {
  @apply text-left
}

.has-text-align-right {
  @apply text-right
}

.has-text-align-center {
  @apply text-center
}

/*Alignments*/
.alignleft {
  float: left;
  margin-right: 1.4rem;
  margin-bottom: 0.7rem;
}

.alignright {
  float: right;
  margin-left: 1.4rem;
  margin-bottom: 0.7rem;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

/*Gallery*/
.wp-block-gallery.is-layout-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.wp-block-gallery.is-layout-flex .wp-block-image {
  position: relative;
  flex: 1 1 calc(25% - 20px);
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.wp-block-gallery.is-layout-flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  @apply rounded-3xl border-blue-300/50 border-2
}

.wp-block-gallery.is-layout-flex figcaption {
  position: absolute;
  bottom: 8px;
  left: 8px;
  margin: 0;
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  @apply rounded-3xl bg-blue-300/50 backdrop-blur-2xl border-blue-300/50 border-2;
}

/*Cover background tint*/
.wp-block-cover {
  position: relative;
}

.wp-block-cover__image-background {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wp-block-cover__image-background.has-parallax {
  background-attachment: fixed;
}

.wp-block-cover__background {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

/*Cover inner container*/
.wp-block-cover {
  position: relative;
  height: 60vh;
}

.wp-block-cover__inner-container {
  position: absolute;
  /* left and top are being filled in by coverPositioning.ts*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  box-sizing: border-box;
  z-index: 2;
}

/*Download*/
.wp-block-file__button {
  @apply bg-blue-100/50 backdrop-blur-2xl border-blue-300/50 border-2 rounded-3xl px-2 ml-2;
}

.wp-block-file {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Media-Text*/
.wp-block-media-text {
  display: grid;
  gap: 2rem;
  /*grid-template-columns are being filled by wordpress inline styles*/
  align-items: center;
  border-radius: 24px;
}

.wp-block-media-text__media img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 24px
}

@media (max-width: 768px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 1fr;
  }
}

/*Acoordions*/
summary.wp-block-accordion-heading {
  list-style: none;
  cursor: pointer;
}

summary.wp-block-accordion-heading::-webkit-details-marker {
  display: none;
}

.wp-block-accordion-heading__toggle-icon {
  display: inline-block;
  transition: transform 0.2s ease;
}

details[open] .wp-block-accordion-heading__toggle-icon {
  transform: rotate(45deg);
}

/*Buttons*/
.wp-element-button.wp-block-button__link {
  background-color: #343941;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 99999999999999999999999999999999999999999999999999999999999999999999999999999px;
}

.is-content-justification-center {
  display: flex;
  justify-content: center;
}

.is-content-justification-right {
  display: flex;
  justify-content: right;
}

.wp-block-button__width-25>.wp-element-button {
  width: 25%;
}

.wp-block-button__width-50>.wp-element-button {
  width: 50%;
}

.wp-block-button__width-75>.wp-element-button {
  width: 75%;
}

.wp-block-button__width-100>.wp-element-button {
  width: 100%;
}
